.main {
    max-width: 1319px;
    min-height: 928vh;
    /* border: 1px solid #000; */
}

.top {
    display: flex;
    /* border: 1px solid #0150E9; */
    margin: 20px 20px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.logo-img {
    width: 35px;
    height: 40px;
    margin-left: 45px;
}

.logo-name {
    margin-left: 10px;
}

.top_links {
    display: flex;
    min-width: 425px;
    /* border: 1px solid #20C905; */
    gap: 20px;
    padding: 10px;
    margin: 20px 450px;
    margin-right: 30px;
}

.header_link_home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.header__link {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}


.about {
    display: flex;
    flex-wrap: wrap;
    max-width: 1274px;
    min-height: 536px;
    /* border: 1px solid #E99C08; */
    margin: 20px;
    gap: 20px;
}

.main-text {
    max-width: 589px;
    min-height: 480px;
    /* border: 1px solid #BD0EFB; */
    margin: 20px;
}

.about_title {
    margin-top: 60px;
    margin-inline-start: 13px;
}

p {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
}

.button {
    width: 350px;
    height: 94px;
    /* border: 1px solid #FF1DA4; */
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    gap: 65px;
}

.start_button {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    color: white;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
}

.video_button {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    background-color: white;
}

.about_img {
    max-width: 540px;
    max-height: 374px;
    padding-top: 20px;
}


.companies {
    max-width: 1240px;
    /* border: 1px solid #19FBFB; */
    margin: 40px;   
}

.img-company {
    margin: 20px;
}